@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

/* Navigation Bar */
.navbar-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.95rem;
}

.fa-home{
    font-size:2rem;
    cursor: pointer;
}

#basic-nav-dropdown{
    margin: 0px 20px;
}

/* Wrapper holding both the left &right side */
.data-wrapper{
    display: flex;
    flex-direction:row;
    padding: 0px 10px;
}
 .left{
    width:77%;
}

.right{
    width:23%;
}

/* Styling the Test Suites area */
.anchor-tab{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 40px;
}
.anchor-tab a{
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    margin-right: 7rem;
}
.heading{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:15px;
}

.heading i{
    font-size: 1.5rem;
    margin-right: 7px;
    cursor: pointer;
}

.heading h5{
    color:rgba(240, 158, 5, 0.944);
    font-weight: bold;
    font-size: 1.5em;
}



.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    box-shadow:  5px 10px 17px #e9e2e2;
    width:28em;
    height: 13em;
    border-radius:3px;
    border: none;
}
img{
    border-radius: 10px;
    border:2px solid #000;
}

h6{
    margin-top: 10px;
}
h4{
    margin-left: 10px;
}
progress{
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 5px;
    background: #888888;
    margin-top: 10px;
    border-radius: 10px;
}
.card-top{
    display: flex;
    flex-direction: row;
}
.card-tp-left{
    display: flex;
    flex-direction: column;
}
.card-tp-right{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.card-data{
    display: flex;
    width:25em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 12px;
}
.card-data p{
    margin-left:4px;
}

.card-rating i{
    margin-left: 6px;
    cursor: pointer;
}
.card-bottom{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2.8rem 2rem 0 0;
    font-size:13px;
    height:2em;
    line-height: 2em;
}
.card-bottom p{
    margin-left: 9px;
    font-style: italic;
    
}
.card-btm-details{
    display: flex;
    flex-direction: row;
}
.card-btm-icons i{
    margin-left:1em;
    cursor: pointer;
}

/* Empty-area */
    .empty{
        width:2%;
    }

/* Right-side area */

    input[type='text']{
    width:97%;
    padding-left: 10px;
    }
   .small-box{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .small-box i{
        font-size: 1.3em;
        margin-right: 10px;
    }

    .small-box p{
        background-color: #7e7d7d;
        color: #fff;
        padding:0px 6px;
        border-radius: 20px;
    } 

    .box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

   
